# Python Test for Interns
To test the python/numpy/pandas/matplotlib proficiency of the interns

You are allowed to google/search for solutions

When you finish coding and want to execute the block of code, please press shift + enter

# 1. Load the necessary packages
Import numpy/pandas/matplotlib here

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

# 2. Pandas
## 2.1 Read and show data
There is a "Home1_Schedule_PowerRef.csv" file in the same folder, please use pandas to read in the data file as a dataframe

In [ ]:
df = #Please write your code here

Show the first 5 rows in the dataframe/ Show the last 10 rows in the dataframe

In [ ]:
#Please write your code here

In [ ]:
#Please write your code here

Show the 10th to 20th row in the dataframe

In [ ]:
#Please write your code here

## 2.2 Timestamp

Convert column "Time_epoch_ref" from epoch time to date time

In [ ]:
df['Time_epoch_ref'] = #Please write your code here

In [ ]:
df.head()

## 2.3 Dataframe Operation
Set "Time_epoch_ref" as the index of the dataframe

In [ ]:
df = #Please write your code here

In [ ]:
df.head()

drop column "Power_EV_kW_ref"

In [ ]:
df = #Please write your code here

In [ ]:
df.head()

Select column "Power_AC_kW_ref" and create a pandas series

In [ ]:
ac = #Please write your code here

In [ ]:
ac.head()

## 2.4 Iteration & Group through the dataframe
Iterate through the dataframe by rows, and add up the values in "Power_ESS_kW_ref" column as sum_value

In [ ]:
sum_value = 0.

In [ ]:
#Please write your code here

In [ ]:
sum_value

calculate the average of all the columns for hour 0 - 23 

As an example:

|time        |value |
|------------|------|
|8/17 2:00AM | 10   |
|8/19 2:00AM | 5    |
|8/20 2:00AM | 0    |
|8/20 3:00AM | 50   |
|8/21 3:00AM | 16   |

The average for hour 2 is (10+5+0)/3 = 5

The average for hour 3 is (50+16)/2 = 33

In [ ]:
mean_values = #Please write your code here

In [ ]:
mean_values

## 2.5 Plot
Plot the mean values of Power_Unctrl_kW_ref per hour as line and bar plots

In [ ]:
#Please write your code here

In [ ]:
#Please write your code here

# 3. numpy: 
## 3.1 Array Operation
create an array containing 1,2,3,4,5. Name it np_array1

In [ ]:
np_array1 = #Please write your code here

iterate through np_array1 and print the values

In [ ]:
#Please write your code here

Create a new array containing 6,7,8,9,10. Name it np_array2

In [ ]:
np_array2 = #Please write your code here

Add up the values of np_array1 and np_array2 element-wise and create a new array np_array3, which will be [7,  9, 11, 13, 15]

In [ ]:
np_array3 = #Please write your code here

In [ ]:
np_array3

Add np_array2 to the end of np_array1 and create np_array4, which should be an array with 10 elements [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]

In [ ]:
np_array4 = #Please write your code here

In [ ]:
np_array4

## 3.2 Slicing
print dimension of np_array4; print shape of np_array4

In [ ]:
#Please write your code here

In [ ]:
#Please write your code here

print the 3rd - 5th elements in np_array4

In [ ]:
#Please write your code here

print the last 4 elements in np_array4

In [ ]:
#Please write your code here

## 3.3 Data Type
check the data type of np_array4

In [ ]:
#Please write your code here

convert np_array3 to float values

In [ ]:
np_array3 = #Please write your code here

In [ ]:
np_array3

## 3.4 Index search
Search for index of element 5 in np_array4

In [ ]:
#Please write your code here